/* custom-ui.css */
html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* height: 65px; */
    border-bottom: 2px solid black;
    align-content: center;
}

.toolSection {
    margin: 2px;
}

.title {
    align-content: center;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

#selections_plus_view {
    height: calc(100% - 65px);
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

#selections {
    height: 100%;
    width: 20%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#existing_templates {
    height: 30%;
}

#rough_and_run {
    height: 100%;
    width: 20%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#excel_tempalte {
    height: 50%;
}

#existing_excel_templates {
    height: 40%;
}

#run {
    height: 10%;
}


#scroll-view {
    bottom: 0;
    /* leave room for 100px header */
    height: 99%;
    width: 100%;
    overflow: auto;
}

#viewer {
    margin: auto;
}

.pageContainer {
    border: 1px solid black;
    position: relative;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 100000;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Chips CSS */
.chips.chips-initial {
    border-bottom: 1px solid #ddd;
}
.chip {
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    padding: 0px 13px;
    border-radius: 16px;
    background-color: #eef2f3;
    margin: 5px 5px; 
    display: inline-block;
    outline: none;
}
.chip:focus { 
    background-color: #51c5c2;
    color: #fff;
}
.closebtn {
    cursor: pointer;
}
.chips.chips-initial input.chip-input {
    display: inline-block ;
    float: none;
    width: 120px;
    min-width: 30px;
    border:none;
    outline: none;
}

.annotationModalForm {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.annotationModalRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textAlignCenter {
    text-align: center;
}

#current_template {
    height: 100%;
    position: relative;
}

#existing_templates {
    height: 20%;
    position: relative;
}

#current_template_container {
    height: 90%;
    position: absolute;
    overflow-y: auto;
}

.editing_template_item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: transparent;
    border-radius: 9px 9px 9px 9px;
    overflow: hidden;
    box-shadow: 1px 1px 11px #330033;
    padding: 5px 5px;
}