/* custom-ui.css */
html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#header {
    height: 65px;
    border-bottom: 2px solid black;
    align-content: center;
}

.title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

#selections_plus_view {
    height: calc(100% - 65px);
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

#selections {
    height: 100%;
    width: 20%;
    border: 1px solid black;
}

#scroll-view {
    bottom: 0;
    /* leave room for 100px header */
    height: 100%;
    width: 100%;
    overflow: auto;
}

#viewer {
    margin: auto;
}

.pageContainer {
    border: 1px solid black;
    position: relative;
}